<!DOCTYPE html>
<html>
<head>
  <title>Trax</title>
  <%= stylesheet_link_tag    "trax/application", media: "all" %>
  <%= javascript_include_tag "trax/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
