<div class="form_wrap_default" ui-view>
  <div class="row">
    <!-- COLUMN -->
      <div class="col-md-6">
        <!-- BASIC -->
        <div class="box border orange">
          <div class="box-title">
            <h4><i class="fa fa-bars"></i>Basic form elements</h4>
          </div>
          <div class="box-body big">
            <h3 class="form-title">Basic Example</h3>
            <form role="form">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" placeholder="Enter email" id="exampleInputEmail1" class="form-control" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QsPDhss3LcOZQAAAU5JREFUOMvdkzFLA0EQhd/bO7iIYmklaCUopLAQA6KNaawt9BeIgnUwLHPJRchfEBR7CyGWgiDY2SlIQBT/gDaCoGDudiy8SLwkBiwz1c7y+GZ25i0wnFEqlSZFZKGdi8iiiOR7aU32QkR2c7ncPcljAARAkgckb8IwrGf1fg/oJ8lRAHkR2VDVmOQ8AKjqY1bMHgCGYXhFchnAg6omJGcBXEZRtNoXYK2dMsaMt1qtD9/3p40x5yS9tHICYF1Vn0mOxXH8Uq/Xb389wff9PQDbQRB0t/QNOiPZ1h4B2MoO0fxnYz8dOOcOVbWhqq8kJzzPa3RAXZIkawCenHMjJN/+GiIqlcoFgKKq3pEMAMwAuCa5VK1W3SAfbAIopum+cy5KzwXn3M5AI6XVYlVt1mq1U8/zTlS1CeC9j2+6o1wuz1lrVzpWXLDWTg3pz/0CQnd2Jos49xUAAAAASUVORK5CYII=&quot;); padding-right: 16px; background-repeat: no-repeat; background-attachment: scroll; background-position: right center; cursor: auto;" autocomplete="off">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" placeholder="Password" id="exampleInputPassword1" class="form-control" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QsPDhss3LcOZQAAAU5JREFUOMvdkzFLA0EQhd/bO7iIYmklaCUopLAQA6KNaawt9BeIgnUwLHPJRchfEBR7CyGWgiDY2SlIQBT/gDaCoGDudiy8SLwkBiwz1c7y+GZ25i0wnFEqlSZFZKGdi8iiiOR7aU32QkR2c7ncPcljAARAkgckb8IwrGf1fg/oJ8lRAHkR2VDVmOQ8AKjqY1bMHgCGYXhFchnAg6omJGcBXEZRtNoXYK2dMsaMt1qtD9/3p40x5yS9tHICYF1Vn0mOxXH8Uq/Xb389wff9PQDbQRB0t/QNOiPZ1h4B2MoO0fxnYz8dOOcOVbWhqq8kJzzPa3RAXZIkawCenHMjJN/+GiIqlcoFgKKq3pEMAMwAuCa5VK1W3SAfbAIopum+cy5KzwXn3M5AI6XVYlVt1mq1U8/zTlS1CeC9j2+6o1wuz1lrVzpWXLDWTg3pz/0CQnd2Jos49xUAAAAASUVORK5CYII=&quot;); padding-right: 16px; background-repeat: no-repeat; background-attachment: scroll; background-position: right center;" autocomplete="off">
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Check me out
                </label>
              </div>
              <button class="btn btn-success" type="submit">Submit</button>
            </form>
            <div class="separator"></div>
            <h3 class="form-title">Inline form</h3>
            <form role="form" class="form-inline">
              <div class="form-group">
                <label for="exampleInputEmail2" class="sr-only">Email address</label>
                <input type="email" placeholder="Enter email" id="exampleInputEmail2" class="form-control" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QsPDhss3LcOZQAAAU5JREFUOMvdkzFLA0EQhd/bO7iIYmklaCUopLAQA6KNaawt9BeIgnUwLHPJRchfEBR7CyGWgiDY2SlIQBT/gDaCoGDudiy8SLwkBiwz1c7y+GZ25i0wnFEqlSZFZKGdi8iiiOR7aU32QkR2c7ncPcljAARAkgckb8IwrGf1fg/oJ8lRAHkR2VDVmOQ8AKjqY1bMHgCGYXhFchnAg6omJGcBXEZRtNoXYK2dMsaMt1qtD9/3p40x5yS9tHICYF1Vn0mOxXH8Uq/Xb389wff9PQDbQRB0t/QNOiPZ1h4B2MoO0fxnYz8dOOcOVbWhqq8kJzzPa3RAXZIkawCenHMjJN/+GiIqlcoFgKKq3pEMAMwAuCa5VK1W3SAfbAIopum+cy5KzwXn3M5AI6XVYlVt1mq1U8/zTlS1CeC9j2+6o1wuz1lrVzpWXLDWTg3pz/0CQnd2Jos49xUAAAAASUVORK5CYII=&quot;); padding-right: 16px; background-repeat: no-repeat; background-attachment: scroll; background-position: right center;" autocomplete="off">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword2" class="sr-only">Password</label>
                <input type="password" placeholder="Password" id="exampleInputPassword2" class="form-control" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QsPDhss3LcOZQAAAU5JREFUOMvdkzFLA0EQhd/bO7iIYmklaCUopLAQA6KNaawt9BeIgnUwLHPJRchfEBR7CyGWgiDY2SlIQBT/gDaCoGDudiy8SLwkBiwz1c7y+GZ25i0wnFEqlSZFZKGdi8iiiOR7aU32QkR2c7ncPcljAARAkgckb8IwrGf1fg/oJ8lRAHkR2VDVmOQ8AKjqY1bMHgCGYXhFchnAg6omJGcBXEZRtNoXYK2dMsaMt1qtD9/3p40x5yS9tHICYF1Vn0mOxXH8Uq/Xb389wff9PQDbQRB0t/QNOiPZ1h4B2MoO0fxnYz8dOOcOVbWhqq8kJzzPa3RAXZIkawCenHMjJN/+GiIqlcoFgKKq3pEMAMwAuCa5VK1W3SAfbAIopum+cy5KzwXn3M5AI6XVYlVt1mq1U8/zTlS1CeC9j2+6o1wuz1lrVzpWXLDWTg3pz/0CQnd2Jos49xUAAAAASUVORK5CYII=&quot;); padding-right: 16px; background-repeat: no-repeat; background-attachment: scroll; background-position: right center;" autocomplete="off">
              </div>
              <button class="btn btn-inverse" type="submit">Sign in</button>
            </form>
            <div class="separator"></div>
            <h3 class="form-title">Horizontal form</h3>
            <form role="form" class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-2 control-label" for="inputEmail3">Email</label>
                <div class="col-sm-10">
                  <input type="email" placeholder="Email" id="inputEmail3" class="form-control" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QsPDhss3LcOZQAAAU5JREFUOMvdkzFLA0EQhd/bO7iIYmklaCUopLAQA6KNaawt9BeIgnUwLHPJRchfEBR7CyGWgiDY2SlIQBT/gDaCoGDudiy8SLwkBiwz1c7y+GZ25i0wnFEqlSZFZKGdi8iiiOR7aU32QkR2c7ncPcljAARAkgckb8IwrGf1fg/oJ8lRAHkR2VDVmOQ8AKjqY1bMHgCGYXhFchnAg6omJGcBXEZRtNoXYK2dMsaMt1qtD9/3p40x5yS9tHICYF1Vn0mOxXH8Uq/Xb389wff9PQDbQRB0t/QNOiPZ1h4B2MoO0fxnYz8dOOcOVbWhqq8kJzzPa3RAXZIkawCenHMjJN/+GiIqlcoFgKKq3pEMAMwAuCa5VK1W3SAfbAIopum+cy5KzwXn3M5AI6XVYlVt1mq1U8/zTlS1CeC9j2+6o1wuz1lrVzpWXLDWTg3pz/0CQnd2Jos49xUAAAAASUVORK5CYII=&quot;); padding-right: 16px; background-repeat: no-repeat; background-attachment: scroll; background-position: right center; cursor: auto;" autocomplete="off">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="inputPassword3">Password</label>
                <div class="col-sm-10">
                  <input type="password" placeholder="Password" id="inputPassword3" class="form-control" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QsPDhss3LcOZQAAAU5JREFUOMvdkzFLA0EQhd/bO7iIYmklaCUopLAQA6KNaawt9BeIgnUwLHPJRchfEBR7CyGWgiDY2SlIQBT/gDaCoGDudiy8SLwkBiwz1c7y+GZ25i0wnFEqlSZFZKGdi8iiiOR7aU32QkR2c7ncPcljAARAkgckb8IwrGf1fg/oJ8lRAHkR2VDVmOQ8AKjqY1bMHgCGYXhFchnAg6omJGcBXEZRtNoXYK2dMsaMt1qtD9/3p40x5yS9tHICYF1Vn0mOxXH8Uq/Xb389wff9PQDbQRB0t/QNOiPZ1h4B2MoO0fxnYz8dOOcOVbWhqq8kJzzPa3RAXZIkawCenHMjJN/+GiIqlcoFgKKq3pEMAMwAuCa5VK1W3SAfbAIopum+cy5KzwXn3M5AI6XVYlVt1mq1U8/zTlS1CeC9j2+6o1wuz1lrVzpWXLDWTg3pz/0CQnd2Jos49xUAAAAASUVORK5CYII=&quot;); padding-right: 16px; background-repeat: no-repeat; background-attachment: scroll; background-position: right center; cursor: auto;" autocomplete="off">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Remember me
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button class="btn btn-pink" type="submit">Sign in</button>
                </div>
              </div>
            </form>

          </div>
        </div>
        <!-- /BASIC -->
        <!-- BASIC -->
        <div class="box border purple">
          <div class="box-title">
            <h4><i class="fa fa-bars"></i>Column sizing</h4>
            <div class="tools hidden-xs">
              <a class="config" data-toggle="modal" href="#box-config">
                <i class="fa fa-cog"></i>
              </a>
              <a class="reload" href="javascript:;">
                <i class="fa fa-refresh"></i>
              </a>
              <a class="collapse" href="javascript:;">
                <i class="fa fa-chevron-up"></i>
              </a>
              <a class="remove" href="javascript:;">
                <i class="fa fa-times"></i>
              </a>
            </div>
          </div>
          <div class="box-body big">
            <div class="row">
              <div class="col-xs-2">
                <input type="text" placeholder=".col-xs-2" class="form-control" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); padding-right: 16px; background-repeat: no-repeat; background-attachment: scroll; background-position: right center;">
              </div>
              <div class="col-xs-3">
                <input type="text" placeholder=".col-xs-3" class="form-control">
              </div>
              <div class="col-xs-4">
                <input type="text" placeholder=".col-xs-4" class="form-control">
              </div>
            </div>
          </div>
        </div>
        <!-- /BASIC -->
      </div>
    <!-- /COLUMN -->
    
    <div class="col-md-6">
      <!-- BOX -->
      <div class="box border pink">
        <div class="box-title">
          <h4><i class="fa fa-bars"></i>Styled Form Elements</h4>
          <div class="tools hidden-xs">
            <a class="config" data-toggle="modal" href="#box-config">
              <i class="fa fa-cog"></i>
            </a>
            <a class="reload" href="javascript:;">
              <i class="fa fa-refresh"></i>
            </a>
            <a class="collapse" href="javascript:;">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="remove" href="javascript:;">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="box-body">
          <form action="#" class="form-horizontal ">
  
            <div class="form-group">
              <label class="col-md-4 control-label">Select product color </label> 
              <div class="col-md-8"> 
                <label class="checkbox-inline"> <div class="checker"><span><input type="checkbox" value="" class="uniform"></span></div> Blue </label> 
                <label class="checkbox-inline"> <div class="checker"><span><input type="checkbox" value="" class="uniform"></span></div> Purple </label> 
                <label class="checkbox-inline"> <div class="checker disabled"><span><input type="checkbox" disabled="" value="" class="uniform"></span></div> Indigo (out of stock)</label> 
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Pay with </label> 
              <div class="col-md-8"> 
                <label class="checkbox"> <div class="checker"><span><input type="checkbox" value="" class="uniform"></span></div> Credit Card </label> 
                <label class="checkbox"> <div class="checker"><span><input type="checkbox" value="" class="uniform"></span></div> Paypal ($2 surcharge fee)</label> 
                <label class="checkbox"> <div class="checker disabled"><span><input type="checkbox" disabled="" value="" class="uniform"></span></div> Direct Debit </label> 
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Shipping Method </label> 
              <div class="col-md-8"> 
                <label class="radio"> <div class="radio"><span class="checked"><input type="radio" checked="" value="option1" name="optionsRadios1" class="uniform"></span></div> FedEx </label> 
                <label class="radio"> <div class="radio"><span><input type="radio" value="option2" name="optionsRadios1" class="uniform"></span></div> UPS </label> 
                <label class="radio"> <div class="radio"><span><input type="radio" value="option3" name="optionsRadios1" class="uniform"></span></div> USPS </label> 
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Travel insurance </label> 
              <div class="col-md-8"> 
                <label class="radio-inline"> <div class="radio"><span><input type="radio" value="option1" name="optionsRadios2" class="uniform"></span></div> Yes </label> 
                <label class="radio-inline"> <div class="radio"><span class="checked"><input type="radio" checked="" value="option2" name="optionsRadios2" class="uniform"></span></div> No </label>
                <label class="radio-inline"> <div class="radio disabled"><span><input type="radio" disabled="" value="option3" name="optionsRadios2" class="uniform"></span></div> Donate $2 to charity </label>
              </div>
            </div>
  
          </form>
        </div>
      </div>
      <!-- /BOX -->
    </div>
 
  </div>
</div>


