<div id="main-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-12" id="content">
        <!-- PAGE HEADER-->
        <div class="row">
          <div class="col-sm-12">
            <div class="page-header">
              <div class="clearfix">
                <h3 class="content-title pull-left">{{header.title}}</h3>
              </div>
              <div class="description">{{header.description}}</div>
            </div>
          </div>
        </div>
        <!-- /PAGE HEADER -->

        <div class="col-md-12">
          <!-- BOX -->
          <div class="box border primary">
            <div class="box-title">
              <h4><i class="fa fa-table"></i>Channel List</h4>
              <div class="tools">
                <a class="config">
                  <i class="fa fa-cog"></i>
                </a>
                <a class="reload">
                  <i class="fa fa-refresh"></i>
                </a>
                <a class="collapse">
                  <i class="fa fa-chevron-up"></i>
                </a>
                <a class="remove">
                  <i class="fa fa-times"></i>
                </a>
              </div>
            </div>
            <div class="box-body">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Channel Name</th>
                    <th>Slug</th>
                    <th>Site Id</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="channel in collection track by channel.id">
                    <td><strong ng-click="$parent.show(channel)">{{channel.id}}</strong></td>
                    <td>{{channel.name}}</td>
                    <td>{{channel.slug}}</td>
                    <td>{{channel.site_id}}</td>
                    <td><span ng-click="$parent.delete(channel, $index)" class="btn btn-small btn-green"><span>Destroy</span></span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- /BOX -->
        </div>
      </div>
    </div>
  </div>
  <button ng-click="pop()" class="btn-danger">Destroy</button>
</div><!-- /CONTENT-->

