<footer id="resource_toolbar" ng-controller="BottomToolbarController" ng-show="$root.bottom_toolbar_visible">
  <nav>
    <section class="left" id="tags-wrap">
      <tags-input ng-model="tags"
                  custom-class="resource-tags"
                  placeholder="Add a tag"
                  replace-spaces-with-dashes="true"
                  enable-editing-last-tag="true">
      </tags-input>
    </section>
        
    <div class="right">
      
    </div>
  </nav>
</footer>