<header class="navbar clearfix navbar-fixed-top" id="header" ng-controller="HeaderController" ng-show="$root.header_visible">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to "<i class='fa fa-bolt'></i> Trax CMS".html_safe, "#{admin_base_url}/admin", :class => "trax_logo logo" %>
      <!-- SIDEBAR COLLAPSE -->
      <div id="sidebar-collapse" class="sidebar-collapse btn" onclick="window.location='<%= admin_base_url %>';">
        <i class="fa fa-bars" ></i>
      </div>
      <!-- /SIDEBAR COLLAPSE -->
    </div>
    <!-- NAVBAR LEFT -->
    <ul class="nav navbar-nav pull-left hidden-xs" id="navbar-left">
      <li class="dropdown" ng-repeat="item in dropdown_groups">
        <a class="dropdown-toggle" href="#">
          <i class="fa fa-{{item.icon_class}}"></i>
          <span class="name">{{item.name}}</span>
          <i ng-if="item.has_children" class="fa fa-angle-down"></i>
        </a>
        <ul ng-if="item.has_children" class="dropdown-menu dropdown_group_{{item.name}}">
          <li ng-repeat="child in item.children"><a ui-sref="{{child.path}}">{{child.name}}</a></li>
        </ul>
      </li>
    </ul>
    <!-- /NAVBAR LEFT -->
    <!-- BEGIN TOP NAVIGATION MENU -->
    <div class="app_loading_status" ng-if="$root.app_is_syncing">
      <span class="status_text" >{{syncing_status_message}}</span>
    </div>
    <ul class="nav navbar-nav pull-right">

    </ul>
    <!-- END TOP NAVIGATION MENU -->
  </div>

</header>
<!--/HEADER -->

