<div class="row">
  <div class="col-md-12">
    <div class="boxed main_view" ui-view>
      <div class="box collection-list">
        <div class="box-title page-header">
          <h4>
            Entries
            <span class="thin_heading_text" ui-if="$state.includes('channels');"> / {{resource.name | titleize}}</span>
          </h4>
          <div class="pull-right">
            <div class="resource_actions" ui-if="$state.includes('channels');">
              <span class="btn"><span ui-sref="channels.resource.entries.resource.new({channel_id: resource.id})" class="gradient">Add Entry</span></span>
            </div>
          </div>
        </div>
        <div class="box-body">
          <table class="table table-hover primary-list collection-list-table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Entry Title</th>
                <th>Slug</th>
                <th>Site Id</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="entry in collection track by entry.id" class="collection-item collection-list-item">
                <td><a ui-sref="channels.resource.entries.resource.show({channel_id: entry.channel_id, entry_id: entry.id})">{{entry.id}}</a></td>
                <td>{{entry.title}}</td>
                <td>{{entry.slug}}</td>
                <td>{{entry.site_id}}</td>
                <td>
                  <div class="actions">
                    <a ui-sref="channels.resource.entries.resource.edit({channel_id: entry.channel_id, entry_id: entry.id})"><i class="fa fa-cog"></i></a>
                    <a ng-click="$parent.destroy($index)"><i class="fa fa-trash-o"></i></a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

